html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App main {
  flex: 1; /* chiếm toàn bộ khoảng trống */
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.App-avatar {
  height: 80px;
  pointer-events: none;
}

.form-group label {
  text-align: left !important;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-positive {
  background-color: #28a745;      
  color: white;
  border: 2px solid #28a745;       
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-positive:hover {
  background-color: white;
  color: #28a745;
  border-color: #28a745;
}

.btn-positive:active {
  background-color: #218838;
  color: white;
}

.btn-cancel {
  background-color: #dc3545;       
  color: white;
  border: 2px solid #dc3545;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-cancel:hover {
  background-color: white;
  color: #dc3545;
  border-color: #dc3545;
}

.btn-cancel:active {
  background-color: #c82333;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  padding-top: 20px;     
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
